form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea,
button {
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
