form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea,
button {
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}