<h2>Registro de Paciente</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="patientFName">Primer Nombre:</label>
        <input id="patientFName" formControlName="patientFName" required />
    </div>

    <div>
        <label for="patientSName">Segundo Nombre:</label>
        <input id="patientSName" formControlName="patientSName" required />
    </div>

    <div>
        <label for="patientFSame">Primer apellido:</label>
        <input type="number" id="patientFSame" formControlName="patientFSame" required />
    </div>

    <div>
        <label for="patientSSame">Segundo apellido:</label>
        <input type="number" id="patientSSame" formControlName="patientSSame" required />
    </div>

    <div>
        <label for="patientdirec">Dirección:</label>
        <input id="patientdirec" formControlName="patientdirec" required />
    </div>

    <div>
        <label for="patientphone">Teléfono:</label>
        <input id="patientphone" formControlName="patientphone" required />
    </div>

    <div>
        <label for="pant_daybir">Fecha de Nacimiento:</label>
        <input type="date" id="pant_daybir" formControlName="pant_daybir" required />
    </div>

    <div>
        <label for="patientemail">Correo Electrónico:</label>
        <input type="email" id="patientemail" formControlName="patientemail" required />
    </div>

    <div>
        <label for="pant_passwo">Contraseña:</label>
        <input type="password" id="pant_passwo" formControlName="pant_passwo" required />
    </div>

    <button type="submit" [disabled]="registrationForm.invalid">Registrar Paciente</button>
</form>
