form {
    display: grid;
    grid-template-columns: 340px 340px;
    column-gap: 50px;
    row-gap: 15px;
    max-width: 700px;
    margin: auto;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #4CAF50;
    height: 40px;
    width: 340px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn{
    width: 340px;
}