<h2>Agendar Cita</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="patientDocument">Documento del paciente al cual se le va a agendar la cita:</label>
        <input id="patientDocument" formControlName="patientDocument" required />
    </div>

    <div>
        <label for="appointmentDate">Fecha de la Cita:</label>
        <input type="date" id="appointmentDate" formControlName="appointmentDate" required />
    </div>

    <button type="submit" [disabled]="appointmentForm.invalid">Agendar Cita</button>
</form>
