<div class="form-container">
    <h2>Agendate tu cita</h2>
    <form id="createAppoForm">
        <label for="apdate">Fecha</label>
        <input type="date" id="apdate" name="apdate" required />

        <label for="iduser">ID Usuario:</label>
        <input type="number" id="iduser" name="iduser" required />

        <label for="idpant">ID Paciente:</label>
        <input type="number" id="idpant" name="idpant" required />

        <label for="idespe">ID Especialista:</label>
        <input type="number" id="idespe" name="idespe" required />

        <label for="iddsch">ID Cronograma:</label>
        <input type="number" id="iddsch" name="iddsch" required />

        <button type="button" (click)="createAppointment()">Crear cita</button>
    </form>
</div>

<div class="container">
    <a href="actualizar-cita" class="button">Reprogramar Cita</a>
    <a href="buscar-cita" class="button">Cancelar Cita</a>
</div>
